version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: akrutidev
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  server:
    build:
      context: ./uni-server
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: akrutidev
      SERVER_PORT: 3001
    ports:
      - "3001:3001"

  client:
    build:
      context: ./News-App
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - server
    ports:
      - "80:80"

volumes:
  pgdata:

